@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  padding: 10px;
}
::-webkit-scrollbar-track {
  padding: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 10px;
}
