@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  padding: 10px;
}
::-webkit-scrollbar-track {
  padding: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 10px;
}

.app-bg {
  background: aliceblue;
}

.login-hero {
  @apply flex-1 px-20 py-14 bg-gradient-to-br to-cyan-700 from-fuchsia-900
}

.cell {
  padding: 2pt 8pt;
  @apply rounded-full flex items-center items-center
}
